

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* Reshape and remove bootstrap navbar's bottom-margin*/
.navbar {
	margin-bottom: 0px;

	padding-top: 10px;
	padding-bottom: 10px;
}

/* Override bootstrap container-fluid still having padding left and right */
.container-fluid {
	padding-left: 0px;
	padding-right: 0px;
}

/* padding added for rows inside container-fluid containers */
.unfluid {
	padding-left: 15px;
	padding-right: 15px;
	margin-right: auto;
	margin-left: auto;
}

/* General row padding for landing page */
.row-pad {
	padding-top: 25px;
	padding-bottom: 25px;
}

.grey-bg {
	background-color: #f7f7f9;
}

.call-to {
	padding-left: 50px;
	padding-right: 50px;
}

/* Jumbotron class for background image and padding */
.feature {
	background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/strand.png);
	
    color: white;

    padding-top: 250px;
    padding-bottom: 250px;

    /* Override default jumbotron bottom-margin */
    margin-bottom: 0px;
}

/* Pad out feature text */
.padded-text {
	padding-top: 100px;
	padding-bottom: 50px;
}














