

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* Jumbotron class for background image and padding */
.feature {
	background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/strand.png);
	
    color: white;

    padding-top: 300px;
    padding-bottom: 300px;
}

.padded-text {
	padding-top: 50px;
	padding-bottom: 50px;
}














